.user-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.user-container mat-form-field {
  width: 480px;
}

.user-container form {
  margin-bottom: 20px;
}

.user-container form > * {
  margin: 12px 0;
}

.user-container .mat-radio-button {
  margin: 0 12px;
}

.form-fields {
  display: flex;
  align-items: flex-start;
}
