<mat-sidenav-container class="screen-container">
    <!-- Menu Aside -->
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? false : (user && user.id)">
        <mat-list>
            <h1 class="d-flex align-items-center justify-space-between m-2">
                Olá, {{ user && user.first_name ? user.first_name : '' }}.
                <span>
                    <button matIconButton (click)="navigateScreen('home')" title="Home"><mat-icon fontIcon="home"></mat-icon></button>
                    <button matIconButton (click)="exit()" title="Sair"><mat-icon fontIcon="logout"></mat-icon></button>
                </span>
            </h1>
            <br>
            <mat-tree #tree class="bg-transparent" [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                                [cdkTreeNodeTypeaheadLabel]="node.name">
                    <button matButton matTreeNodeToggle>
                        <mat-icon class="mat-icon-rtl-mirror"> {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }} </mat-icon>
                        {{node.name}}
                        <br>
                    </button>
                </mat-tree-node>

                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <button matButton class="pl-5" (click)="navigateScreen(node.type)">
                        {{ node.name }}
                    </button>
                </mat-tree-node>
            </mat-tree>
        </mat-list>
    </mat-sidenav>

    <!-- Conteúdo fora do Aside -->
    <mat-sidenav-content>
        <!-- Botão de Hamburger (somente mobile) -->
        @if (isMobile && user && user.id) {
            <p><button matFab class="aside-button" (click)="sidenav.toggle()">
                <mat-icon aria-label="Menu icon" fontIcon="menu"></mat-icon>
            </button></p>
        }

        @if (user && user.id) {
            <div class="w-100 h-15 mt-4 d-flex align-items-center bg-white">
                <h1 class="d-flex align-items-center justify-space-between m-2 gap-1">
                    <mat-icon class="icon-title" [fontIcon]="nameIcon"></mat-icon> {{screenType}}
                </h1>
            </div>
        }

        <div [class]="url != '/' ? 'mt-4 m-2 p-2 screen-block bg-white' : ''">
            <!-- Componente referenciado pela rota -->
            <router-outlet />
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

