.screen-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #abc7ff41;
}

.screen-block {
  min-height: 70vh;
  border-radius: 5px;
}

.aside-button {
    margin-left: 5%;
}

.icon-title {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

h1, h2, h3, h4, h5, h6, p, button {
  color: #44474e !important;
}

mat-sidenav {
    background-color: #68adf6;
    border-radius: 0;
}

mat-tree-node {
    padding-left: 0px !important;
}

mat-tree-node button[matButton] {
  width: 100%;
  justify-content: flex-start;
  border-radius: 0;
  font-size: 22px;
}
